{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">

    <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
    <style>
    body {
        background-image:url('{% static "images/slider1.jpg" %}');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    .form-control-borderless {
        border: none;
    }

    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
    .result{
      height: 300px;
    }
    .right-box{
        background-color: #f9f9f9;
        padding: 15px;
        opacity: 0.8;

    }
    .left-box{
      background-color: #f9f9f9;
      padding: 15px;
      opacity: 0.8;
    }
    .select2-container {
       box-sizing: border-box;
       display: inline-block;
       margin: 0;
       position: relative;
       vertical-align: middle;
   }

   .select2-container .select2-selection--single {
       box-sizing: border-box;
       cursor: pointer;
       height: 28px;
       user-select: none;
       -webkit-user-select: none;
       display: contents;
   }
   table, th, td {
      border: 1px solid #dddddd;
      border-collapse: collapse;
      table-layout: auto;
      width: 100%;
    }
    th, td {
      padding: 15px;
      text-align: left;
      width: 100%;
    }
    #id_prescription_details {
      width: 100%;
      background-color: #f9f9f9;
      opacity: 0.8;
    }

    </style>

    <title>Group 3 Project</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-5">

                </div>

                <div class="col-md-8 col-sm-7 text-align-right">
                     <span class="email-icon"><i class="fa fa-search"></i> <a href="{% url 'medicinesearch' %}">Search Medicine</a></span>
                </div>
           </div>
        </div>
    </header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <br/>
                <br/>
                <h3 style="text-align: center;" >Prescription Checker</h3>
                <br/>
            </div>
        </div>
    </div>
    <div class="container">
        <br/>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
<!--                            <select class="form-control form-control-lg form-control-borderless" id="id_medicinesearch_select" style='text-transform:uppercase'>-->
<!--                                <option value="" selected hidden> Search generic or brand names </option>-->
<!--                                <option> </option>-->
<!--                            </select>-->
                            <select id="id_medicinesearchinput" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Select Medicine" style='min-width:300px;'>
                                <option value="" selected hidden> Select Medicine </option>
                                <option> </option>
                            </select>
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <select name="dosage" id="id_dosage">

                            </select>
                            <button id="id_medicineadd" class="btn btn-lg btn-success" type="button">ADD</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>


        <div class="container">
            <br/><br/><br/>
            <div class="row justify-content-center result">
                <div class="col-5 left-box">
                    <table class="table" id="id_prescription_details">
                        <thead>
                            <tr>
                                <th>Medicines</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="col-5 right-box">
                    <table class="table" id="id_generic_details">
                        <thead>
                            <tr>
                                <th>Generic Name</th>
                                <th>Dosage</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <br/><br/><br/>
        <div class="row justify-content-right result">

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>
<script>
    $(document).ready(function(){
        var sportlist =  ["LINCOCIN", "CYCRIN", "BAYER ASPIRIN PLUS CALCIUM", "ANDEC", "ALLER-CHLOR DECONGESTANT", "ADVIL COLD AND SINUS", "ACTIGALL", "ACHROMYCIN V", "AAANDC", "A-CILLIN", "-8", "40 WINKS", "A.R.M. ALLERGY RELIEF", "ACEROLA C", "ACCURETIC", "ABSORICA", "ACEON", "ACETA-GESIC", "ACETA", "ACETAMINOPHEN PM", "ACTIFED COLD AND ALLERGY", "ACTIBINE", "ACTAMIN", "ACTACIN", "ACTEDRIL", "ACTIFED", "ACTICON", "ACTIFED ALLERGY DAY/NIGHT", "ACTIFED PLUS", "ACTIFED COLD AND SINUS", "ADAPIN", "ACTOPLUS MET 15/850", "ACTOPLUS MET", "ACTIVELLA", "ACTONEL", "ACTOPLUS MET 15/500", "ACUPRIN 81", "ACTRON", "ACUFLEX", "ACYS-5", "ACYLOVIR", "ADANDAMET 2/500", "ADALAT", "ADULT STRENGTH", "ADPRIN B", "ADIPEX-P", "ADDERALL", "ADOXA", "ADULT PAIN", "ADVIL ALLERGY AND CONGESTION RELIEF", "ADVANCED PAIN RELIEF", "ADVIL ALLERGY SINUS", "ALEVE CAPLET", "ALDEX GS DM", "AKINETON", "ADVIL MULTI-SYMPTOM COLD", "ADVIL LIQUIGEL", "ADVIL JUNIOR STRENGTH", "ADVIL CONGESTION RELIEF", "ADVIL MIGRAINE", "AFLAXEN", "ADVIL PM LIQUI GELS", "ADVIL PM", "ADVIL SINUS CONGESTION AND PAIN", "AHIST", "AGRYLIN", "AID TO SLEEP", "ALA-TET", "ALA-HIST PE", "ALA-HIST IR", "ALBAMYCIN", "ALAGESIC", "ALDEX GS", "ALDEX CT", "ALERTNESS AL", "ALDOMET", "ALDOCLOR-150", "ALDOCLOR-250", "ALER-DRYL", "ALDORIL", "ALER-TAB", "ALEVE", "ALESSE", "ALKA-SELTZER PLUS COUGH AND COLD LIQUIGEL REFORMULATED AUG 2011", "ALKA-SELTZER COLD AND SINUS", "ALIDRIN", "ALEVE GELCAP", "ALI FLEX", "ALKA-SELTZER ANTI-GAS", "ALKA-SELTZER PLUS COLD LIQUIGEL", "ALKA-SELTZER PLUS ALLERGY", "ALKA-SELTZER PLUS COUGH AND COLD LIQUIGEL", "ALKA-SELTZER PLUS NIGHT TIME COLD LIQUIGEL", "ALKA-SELTZER PLUS MUCUS AND CONGESTION", "ALKA-SELTZER PLUS DAY COLD AND FLU", "ALKA-SELTZER PLUS D MULTI-SYMPTOM SINUS AND COLD", "ALKA-SELTZER PLUS FLU LIQUIGELS", "ALKA-SELTZER PLUS NIGHT COLD AND FLU", "ALLAY", "ALKA-SELTZER PLUS SEVERE SINUS CONGESTION AND COUGH", "ALL DAY C CR", "ALLEGRA", "ALLER-CHLOR", "ALTACE", "ALLERFRIM", "ALLEREST NO DROWSINESS", "ALLEREST", "ALLERCON", "ALLEREST HEADACHE STRENGTH", "ALLEREST MAXIMUM STRENGTH", "ALLEREST PE", "ALLEREST SINUS", "ALLERX-D", "ALLERGY/COLD", "ALLERGY RELIEF", "ALLERGIA-C", "ALLERGY SINUS", "ALLERMAX", "ALLERHIST-1", "ALLEROFF", "ALOPHEN PILLS-CHOCOLATE", "ALMORA", "ALLFEN CDX", "ALLFEN CD", "ALLFEN DM REFORMULATED JUL 2008", "ALOPHEN", "ALPRAZALAM", "ALOR 5/500", "ALPAIN", "ALPROZOLAM", "AMEN", "AMBIFED DM", "ALUPENT", "ALU-TAB", "ALU-CAP", "ALUMADRINE", "AMBIFED CD", "AMBIEN", "AMBI 10PEH/400GFN", "AMBIFED CDX", "AMBIFED-G", "AMBIFED REFORMULATED JUL 2008", "AMBIFED G DM REFORMULATED JUL 2008", "AMBIFED-G CD", "AMBIFED-G CDX", "ANABAR", "AMOXIL", "AMI-TEX", "AMI-RAX", "AMERICET", "AMIGESIC", "AMOXICOT", "AMTURNIDE", "AMPHOJEL", "ANAFRANIL", "ANACIN P.M. ASPIRIN FREE", "ANACIN", "ANACIN ASPIRIN REGIMEN", "ANACIN-3 MAXIMUM STRENGTH", "ANACIN PM ASPIRIN FREE", "ANAFLEX", "ANAPROX DS", "ANAPROX", "ANALGESIC PAIN RELIEVER", "ANATUSS", "ANASPAZ", "ANATUSS DM", "ATROSEPT", "ARISTOCORT", "APHEDRID", "ANTIHIST-1", "ANOLOR DH5", "ANEXSIA", "ANDROID-25", "ANDROID-10", "ANEMAGEN", "ANIMI-3", "ANEXTUSS", "ANOLOR", "ANTARA", "ANOQUAN", "ANTI-DIARRHEAL", "APAP EXTRA STRENGTH", "ANTIVERT", "ANTISPAS", "APACET", "ANX", "APAGESIC", "APAP SLEEP", "APAP JUNIOR STRENGTH", "APAP-PM", "APAPGESIC", "AQUATAB C REFORMULATED DEC 2008", "APRODINE", "APRESOLINE", "APRESAZIDE", "APRI", "AQUALAX", "AQUACOT", "AQUALAX FORTE", "AQUATAB C", "ARBINOXA", "AQUAZIDE H", "AQUATENSEN", "AQUATAB D", "ARALEN PHOSPHATE", "ARGESIC-SA", "ARCET", "ARCO-LASE", "ARICEPT", "ARISOPRODOL", "ASPIDROX", "ARTHRITIS FOUNDATION MS", "ARTANE", "ARKALIOX", "ARISTOPAK", "ARTHRITIS FOUNDATION ASPIRIN", "ARTHRITIS FOUNDATION", "ARTHRITIS FOUNDATION IB", "ASCRIPTIN", "ARTHRITIS PAIN FORMULA", "ARTHRITIS PAIN", "ASCOT", "ASCOMP WITH CODEINE", "ASENDIN", "ASCRIPTIN MAXIMUM STRENGTH", "ATABEX DHA", "ASPIRIN FREE EXTRA STRENGTH", "ASPIR-MOX IB", "ASPIR-MOX", "ASPIR-LOW", "ASPIRCAF", "ASPIR-TRIN", "ASPIRTAB", "ASPIRIN-ANTACID", "ASPIRIN LOW STRENGTH", "ASPIRIN-FREE", "ASTHMACON", "ATREZA", "ATARAX", "ATAMET", "ATACAND HCT", "ATAPRYL", "ATOPICA", "ATAZINE", "ATROFED", "ATRIDINE", "ATROMID", "ATROGEN", "AZO-GESIC", "AXOTAL", "AVALIDE", "ATUSS HX", "ATTI PLEX P", "ATUSS HD", "AUGMENTIN 500-", "AUGMENTIN", "AUGMENTIN 250-", "AUGMENTIN 875-", "AVANDAMET 4/1000", "AVANDAMET 1/500", "AVANDAMET", "AVANDAMET 2/1000", "AVANDAMET 2/500", "AVENTYL HCL", "AVANDARYL", "AVANDAMET 4/500", "AXID", "AVIANE", "AXID PULVULES", "AZO GANTRISIN", "AZDONE", "AYGESTIN", "AZASAN", "AZO GANTANOL", "AZO-CRANBERRY", "AZO-100", "BACTOCILL", "B-DONNA", "AZO-STANDARD MAX STRENGTH", "AZO-STANDARD", "AZO-TRUXAZOLE", "B3-500-GR", "B.C. HEADACHE", "BANOPHEN", "BANCAP HC", "BALACET", "BACTRIM DS", "BALZIVA", "BANEX", "BASALJEL", "BARBIDONNA", "BAR-TEST", "BARIDIUM", "BAYCOL", "BASERETIC", "BAYER ASPIRIN", "CARBISET", "BUSPAR", "BP POLY-650", "BENADRYL ALLERGY COLD REFORMULATED JUN 2007", "BAYER SELECT DECONGESTANT", "BAYER MIGRAINE", "BAYER HEADACHE RELIEF", "BAYER ASPIRIN PM REFORMULATED NOV 2011", "BAYER ASPIRIN PM EXTRA STRENGTH", "BAYER ASPIRIN WITH CALCIUM", "BAYER LOW STRENGTH", "BAYER SELECT", "BAYER PLUS", "BAYER SELECT BACKACHE PAIN FORMULA", "BEEPEN-VK", "BAYER SELECT SINUS PAIN FORMULA", "BAYER SELECT MAX STRENGTH NIGHT TIME PAIN", "BEELITH", "BC HEADACHE", "BELLATAL", "BELLALPHEN", "BELCOMP-PB", "BENADRYL", "BELVIQ", "BENADRYL ALLERGY COLD", "BICLORA-D", "BENEMID", "BENADRYL SEVERE ALLERGY SINUS HEADACHE REFORMULATED JUN 2007", "BENADRYL ALLERGY SINUS HEADACHE", "BENADRYL ALLERGY SINUS", "BENADRYL DECONGESTANT ALLERGY", "BENAZPEPRIL", "BENADRYL-D ALLERGY AND SINUS", "BENEKRAFT-25", "BENZONATE", "BENTYL", "BENICAR HCT", "BENZEPRIL", "BETAPACE", "BENZTROINE", "BEXTRA", "BIOMOX", "BILOPAQUE SODIUM", "BIDEX-DMI", "BIDIL", "BIOCEF", "BIO-THROID", "BONIVA", "BOCK-ARATE", "BLOCADREN", "BISMATROL", "BONIKRAFT", "BONTRIL PDM", "BONTRIL", "BRONKAID", "BRICANYL", "BRETHINE", "BREONESIN", "BREVICON", "BROMALINE", "BRINTELLIX", "BRODSPEC", "BROMALINE PLUS", "BROMAX", "BUCET", "BROVEX PB", "BROVEX CB", "BRONTEX", "BRONKODYL", "BRONTUSS", "BROVEX CBX", "BROVEX PBD", "BROVEX PBC", "BROVEX PB CX", "BROVEX PBCX", "BROVEX PSE DM", "BROVEX PSE", "BUFFERIN EXTRA STRENGTH", "BUFFERIN ARTHRITIS STRENGTH", "BUFFERIN", "BUPAP", "BUFFEX", "BUSODIUM", "CALCI-MIX", "C-500-GR", "BUTISOL", "BUTALBITAL COMPOUND", "BUSPAR DIVIDOSE", "BUSPRIRONE", "BUTEX FORTE", "BY ACHE", "BUTISOL SODIUM", "C COMPLEX", "CAFGESIC", "CAFATINE PB", "C.P.M.", "CADUET", "CAFFEDRINE", "CAFERGOT", "CALCARB", "CALAN", "CALCI MIX", "CALCARB WITH D", "CANTIL", "CALDEROL", "CALCIUM 600", "CALCITAB", "CALCIUM CONCENTRATE", "CALCIUM LIQUID SOFTGEL", "CALUBE", "CALTRATE 600 PLUS D", "CALM-AID", "CALTRATE", "CALTRO", "CAMILA", "CANOXICABS", "CAPOZIDE 25/25", "CAPOTEN", "CAP-PROFEN", "CAPMIST DM", "CAPOZIDE", "CARBEX", "CAPOZIDE 50/15", "COCET", "CHLOR TRIMETON ALLERGY DECONGESTANT", "CATAPRES", "CARDIOQUIN", "CARDEC", "CARBODEC", "CARDENE", "CAROID LAXATIVE", "CARDOXIN", "CARDIZEM", "CAROGUARD", "CARTROL", "CAROZIDE", "CATAFLAM", "CENAFED", "CEFZIL", "CEENU", "CECLOR PULVULES", "CECLOR", "CEDAX", "CEFTIN", "CEFADROXIL MONOHYDATE", "CELONTIN", "CELESTONE", "CEMILL 500", "CERTUSS-C", "CEPHALEXIM", "CEPHADYN", "CENTRUM SINGLES-VITAMIN C", "CEREFLIN", "CERAXON", "CEREFOLIN NAC", "CHARCOCAPS", "CETAZONE T", "CETA PLUS", "CEVI-BID", "CHARDONNA-2", "CHILDRENS TYLENOL", "CHOLOXIN", "CHLOR-TRIMETON NASAL DECONGESTANT", "CHLOR-MAL", "CHLOR TRIMETON NASAL DECONGESTANT", "CHLOR-PHENIT", "CHLOR-TRIMETON", "CHLOROMYCETIN", "CHLORACOL", "CHLOR-TRIMETON SINUS", "CHLORESIUM", "CHLORDINIUM", "CHOCOLAXED", "CHLORPHEN", "CHOLAN-HMB", "CHOLAN", "CHOLESTIN", "CLINORIL", "CITROLITH", "CINOBAC", "CHROMIUM GTF", "CHORPROMAZINE", "CIT CALCIUM", "CIPROFLAXACIN", "CITRICAL", "CLEOCIN HCL", "CLEAR-ATADINE", "CLEEVEC", "CLINDEX", "CLOXAPEN", "CLORFED", "CLONODINE", "CLOMID", "CLORAZEPAM", "CLOROQUINE", "CLORFED II", "CLORPRES", "CO-GESIC", "CO-APAP", "CO-Q10", "CONGESTACLEAR COLD AND ALLERGY", "COMPOZ", "COLDEC 4/60", "COGNEX", "CODRIX 500/15", "CODRIX", "CODIMAL", "COFATRIM FORT", "CODRIX 500/60", "CODRIX 500/30", "COGENTIN", "COLD RELIEF", "COLAX", "COLACE", "COLAZAL", "COLD SYMPTOM RELIEF", "COLDEC", "COMBUNOX", "COMBIFLEX ES", "COLREX", "COLESTID", "COMBIFLEX", "COMBIPRES 0.1/15", "COMBIPRES", "COMBIPRES 0.2/15", "COMBIPRES 0.3/15", "COMPLETE ALLERGY", "COMHIST", "COMFORTPAK", "COMPLETE COLD MEDICINE", "COMPLETE ALLERGY RELIEF", "COMTREX COLD AND COUGH NON DROWSY", "COMTREX ALLERGY SINUS", "COMPOZ NIGHTTIME SLEEP AID", "COMPTAN", "COMTREX ALLERGY SINUS NIGHT AND DAY", "COMTREX ALLERGY SINUS MAXIMUM STRENGTH", "COMTREX COLD AND COUGH NIGHTTIME", "COMTREX NON-DROWSY", "COMTREX COLD AND FLU MAXIMUM STRENGTH REFORMULATED AUG 2006", "COMTREX COLD AND FLU MAXIMUM STRENGTH", "COMTREX MAXIMUM STRENGTH COLD RELIEF", "COMTREX DEEP CHEST COLD NON DROWSY", "COMTREX NON DROWSY LIQUIGEL", "CONGESTA DM", "CONACETOL", "CONCENTRATED FIBER", "CONGESTACLEAR", "CONGESTAC", "CORICIDIN HBP FLU MAXIMUM STRENGTH", "CORDARONE", "CONTAC DAY AND NIGHT ALLERGY SINUS", "CONTAC COLD AND FLU MAXIMUM STRENGTH", "CONGESTANT D", "CONGESTANT", "CONTAC 12 HOUR ALLERGY", "CONTAC COLD AND FLU NON DROWSY MAXIMUM STRENGTH", "CONTAC SINUS", "CONTAC SEVERE COLD AND FLU NON DROWSY", "CONTAC SEVERE COLD AND FLU MAXIMUM STENGTH", "COPD PHARMACOLOGIC SUBSTANCE", "CONTRAGESIC", "COPHENE-X", "CORICIDIN D COLD", "CORICIDIN", "CORGARD", "CORICIDIN D", "CORICIDIN HBP COLD AND FLU", "CORICIDIN HBP CHEST CONGESTION", "CORICIDIN HBP COUGH AND COLD", "COZAAR", "COTAB AX", "CORTONE ACETATE", "CORRECTOL LAXATIVE", "CORRECTIVE", "CORRECTOL SOFTGEL EXTRA GENTLE", "COSAMIN DS", "COTAB A", "COTOLONE", "COTABFLU", "COUMADIN", "COTRIM", "COVANGESIC", "CRYSTODIGIN", "CRESTOR", "CR-GTF", "CP-2", "CRM CHROMIUM PICOLINATE", "CRIXIVAN", "CRYSELLE", "CURALER", "CUPRIMINE", "CTD ASPIRIN", "CYCLIVERT", "CURRETAB", "CYCLOSPASMOL", "FEDAHIST", "DIUREX", "DESPEC TABLET", "DAZIDOX", "DALMANE", "CYSTOSPAZ", "CYLERT", "CYKLOKAPRON", "CYSTEMMS-V", "CYSTEX", "D-VERT", "CYTOVENE", "CYTOMEL", "D-S CAPS", "DALLERGY REFORMULATED MAR 2014", "DALLERGY", "DAILYHIST-1", "DALLERGY REFORMULATED NOV 2011", "DAYQUIL LIQUICAPS REFORMULATED APR 2009", "DARVON", "DANTRIUM", "DAMASON-P", "DANOCRINE", "DARPAZ", "DARANIDE", "DARVOCET A500", "DARVOCET", "DARVOCET-N", "DAYQUIL COLD AND FLU", "DARVON COMPOUND-65", "DARVON COMPOUND 32", "DARVON-N", "DAYPRO ALTA", "DAYQUIL COLD AND FLU RELIEF", "DAYQUIL LIQUICAPS", "DAYQUIL SINEX", "DAYQUIL PRESSURE AND PAIN CAPLET", "DAYQUIL NON-DROWSY", "DAYQUIL SEVERE COLD AND FLU", "DAYQUIL SINUS PRESSURE AND CONGESTION", "DAYQUIL SINUS", "DAYTO-HIMBIN", "DAYTIME LIQUICAP", "DECONEX DM", "DECONAMINE", "DECHOLIN", "DDAVP", "DC-240", "DECADRON", "DECLOMYCIN", "DECONEX", "DECONAMINE CX", "DEPADE", "DEMEROL HCL", "DELONE", "DECONSAL II", "DECONGESTANT ANTIHISTAMINE", "DECONSAL II REFORMULATED MAY 2007", "DELTASONE", "DELTALIN", "DEMADEX", "DEMULEN", "DEMI-REGROTON", "DESOGEN CONTRACEPTIVE", "DEPLETITE", "DEPAKENE", "DEPLIN", "DESPEC DM", "DESOXYN", "DESPEC REFORMULATED JUN 2015", "DIMETAPP DECONGESTANT", "DIAR-AID", "DIABETIC TUSSIN EX", "DEXONE", "DESYREL DIVIDOSE", "DESYREL", "DEXALONE", "DETROL", "DEXEDRINE", "DIABETA", "DI-ATRO", "DEXTROSTAT", "DI-PHEN", "DIABETIC TUSSIN", "DIALUME", "DIALOSE", "DIABINESE", "DIALOSE PLUS", "DIAMOX", "DIAMODE", "DIAQUA", "DILEX-G", "DIDRONEL", "DIBENZYLINE", "DIASORB", "DICYLOMINE", "DICLOXICILLIN", "DIDREX", "DILANTIN", "DIFIL G", "DIGEX", "DILAUDID", "DIMETANE DECONGESTANT", "DIMAPHEN", "DIMACOL", "DIMETANE", "DIMETAPP ALLERGY SINUS", "DIMETAPP ALLERGY LIQUIGEL", "DIMETAPP", "DIMETAPP COLD AND COUGH LIQUIGEL", "DIMETAPP COLD AND CONGESTION", "DIMETAPP COLD AND FLU", "DIPHEDRYL", "DIOCTOSOFTEZ", "DIOCTO-C", "DIMOTAL", "DIMETAPP SINUS", "DIOCTO", "DIOCTO-K PLUS", "DIOCTO-K", "DIOCTOCAL", "DIOCTOLOSE", "DIOCTYN", "DIOCTYL S.S.", "DIOCTYL CAL", "DIOVAN", "DIONEX", "DIOEZE", "DIPENTUM", "DIOVAN HCT", "DIPHENYL", "DIPHENADRYL", "DIPHEN", "DIPHENHIST", "DIPHENDRYL", "DIUCARDIN", "DIQUINOL", "DIPRO", "DITROPAN", "DISKET", "DIURESE", "DIUPRES-250", "DIUPRES-500", "DIURETIC AP-ES", "DURAFLU", "DONNAPHEN", "DOCUSIL", "DOC-Q-LAX", "DIUTENSEN-R", "DIUREX MAX", "DIUREX AQUAGELS", "DIUREX WATER CAPS", "DIURIL", "DOANS PM", "DOANS PILLS", "DOANS", "DOANS PILLS EXTRA STRENGTH", "DOC-Q-LACE", "DOCUCAL", "DOCU SOFT", "DOCAL", "DOCU SOFT PLUS", "DOCULAX", "DOCUCAL-P", "DOCULAX PLUS", "DOLACET", "DOK PLUS", "DOCUSOFT-S", "DOCUSOFT S+", "DOCUSOFT S", "DOK", "DOKTOSE PLUS", "DOKSAKE", "DOLOGEN", "DOLGIC", "DOLGESIC", "DOLAGESIC", "DOLMAR", "DOLGIC PLUS", "DOLOBID", "DOLONO", "DOLOGESIC REFORMULATED JUN 2016", "DOLOGESIC", "DOLSED", "DOLOPHINE", "DOLOREX FORTE", "DONNAMAR", "DRISTAN COLD", "DOXY LEMMON", "DOS", "DOPAR", "DONNATAL", "DORAL", "DORYX", "DOXIDAN", "DOXAL", "DOXIDAN SOFTGEL LAXATIVE PLUS STOOL SOFTENER", "DRAMAMINE NON-DROWSY", "DOXYCYLINE", "DOXY-D", "DOXY-CAPS", "DOXYCLINE", "DRAMAMINE II", "DRAMAMINE LESS DROWSY", "DRIMINATE II", "DRISDOL", "DUO-VIL 4-10", "DSMC COMPOUND PLAIN", "DRISTAN COLD NON-DROWSY", "DRISTAN COLD MULTI SYMPTOM", "DRISTAN COLD MAXIMUM STRENGTH", "DRISTAN COLD MULTI SYMPTOM FORMULA", "DRIXORAL COUGH AND CONGESTION LIQUID CAPS", "DRISTAN SINUS", "DRITUSS GF", "DRIXORAL COUGH/SORE THROAT", "DRYPHEN", "DULEEK-DP", "DUADACIN", "DSS PLUS", "DUETACT", "DULCOLAX STOOL SOFTENER", "DUO-VIL 2-10", "DUO-VIL 2-25", "DURA-GEST", "DUOGESIC", "DUOCET", "DURACT", "DURABAC", "DURABAC FORTE", "DURADRIN", "DURADEX", "ENDOCODONE", "EDECRIN", "DYNACIN", "DURAXIN", "DURATUSS A", "DURATEX", "DURAPHEN II", "DURAVENT DM", "DURATUSS DA", "DURAVENT PE", "DYCILL", "DUTOPROL 100/12.5", "DURICEF", "DUTOPROL 50/12.5", "DUTOPROL 25/12.5", "DUVOID", "DYFLEX-G", "DYMELOR", "E-MYCIN", "DYNAPEN", "DYNACIRC", "DYPHYLLIN-GG", "DYNAXIN", "ED CYTE F", "E.E.S. 400 FILMTAB", "E.E.S.-400", "ED SPAZ", "ED FLEX", "EDARBYCLOR 80/12.5", "EMPIRIN", "ELLURA", "ELDEPRYL", "ELAVIL", "EFFEXOR", "ELIXOPHYLLIN", "ELIPHOS", "EMAGRIN", "ELTROXIN", "EMAGRIN FORTE", "EMBEDA", "ENDEP", "EMPIRIN WITH CODEINE", "EMTET-500", "ENDOCET 10/650", "ENDOCET", "ENDOCET 10/325", "ENDOCET 7.5/325", "ENDOCET 5/325", "ENDOCET 7.5/500", "ETHATAB", "EQUANIL", "ENTEX T", "ENDURONYL FORTE", "ENDURONYL", "ENDODAN", "ENKAID", "ENFOLAST-N", "ENTEX", "EPIDRIN", "ENTUSS D", "ENTUSS", "ENTUSS-D", "EPILIM", "EQUAGESIC", "ESGIC", "ERIDIUM", "ERGAMISOL", "EQUILET", "EQUI-CYTE F", "EREX", "ERGOTRATE", "ERGOCOMP-PB", "ERGOTRATE MALEATE", "ERYTHROCIN", "ERRIN", "ERYTROMYCIN", "ERYTHROCOT", "ESTINYL", "ESKALITH", "ESPOTABS", "ETHAQUIN", "ESTRE", "EXCEDRIN SINUS", "EUTHYROX", "ETRAFON 2-25", "ETHMOZINE", "ETHAVEX-100", "ETOPLAC", "ETRAFON 2-10", "ETRAFON-A", "ETRAFON 4-25", "ETRAFON 4-10", "ETRAFON FORTE", "EULEXIN", "EX-LAX STOOL SOFTENER", "EX-LAX CHOCOLATE", "EVISTA", "EVAC-U-GEN", "EX-LAX", "EX-LAX MAXIMUM RELIEF", "EX-PAIN RELIEVER", "EX-LAX UNFLAVORED", "EX-PAIN", "EXCEDRIN ASPIRIN FREE", "EZIDE", "EXPECTA", "EXECOF", "EXCEDRIN SINUS HEADACHE", "EXEFEN DMX", "EXEFEN", "EXNA", "EXTRA STRENGTH BAYER", "EXTRA GENTLE EX-LAX", "EXTENDRYL JR", "EZ III", "EZE D.S.", "FAMVIR", "FAM-COLSOF", "EZOL", "FA-8", "FAM-PERICOLS", "FE-MAX", "FANSIDAR", "FASTIN", "FE-TINIC 150", "FE-TINIC", "FE-TINIC 150 REFORMULATED OCT 2008", "HYFLEX", "GLUCOPHAGE", "FOLGARD", "FEVERALL", "FEOSOL", "FEMININE LAX", "FEMHRT", "FEMATROL", "FEEN-A-MINT", "FEMCET", "FEMHRT 1/5", "FEMHRT 0.5/2.5", "FEMILAX", "FENESIN DM IR", "FEMIRON", "FEMINTROL", "FEMTRACE", "FENESIN PE IR", "FENESIN IR", "FENOCHOL", "FERRIMIN", "FEROTRINSIC", "FERGON", "FERATE", "FEROTRIN", "FERRATAB", "FERRALET", "FERREX", "FERROCITE PLUS", "FERROCITE F", "FERRIMIN 150", "FERROGELS FORTE", "FERROGELS", "FERUS PIC-150", "FIORPAP", "FIORICET", "FIBER TAB", "FIBER LAX", "FEXOFEENADINE", "FEXMID", "FIBER LAXATIVE", "FIBERNORM", "FIBERLAX", "FIBERTAB", "FIORINAL WITH CODEINE", "FIORINAL", "FIORICET WITH CODEINE", "FIORMOR", "FLORINEF", "FLEET SOF-LAX", "FLANAX NAPROXEN", "FIORTAL", "FIORTAL WITH CODEINE", "FLATULEX", "FLEXTRA PLUS", "FLEXERIL", "FLEX-10", "FLEXTRA", "FLEXTRA-DS", "FLOMAX", "FLUORODEX", "FLUMADINE", "FLUBHENAZINE", "FOCALIN", "FLURA-TAB", "FOLBALIN", "FOLCAPS", "GENAPAP SINUS", "GANTRISIN", "FULVICIN-U-F", "FORTOVASE", "FOLTX", "FOLPLEX", "FORTABS", "FRENADOL", "FOSAMAX", "FULVICIN P/G", "G-1", "FUROXONE", "FUMASORB", "GABITRIL", "GABARONE", "GANTANOL", "GENAHIST", "GEMCOR", "GASTROCROM", "GARLIQUE", "GAS-X MAXIMUM STRENGTH", "GELPIRIN-CCF", "GENACOL", "GEN-XENE", "GENACOL MAXIMUM STRENGTH", "GENAPAP EXTRA STRENGTH", "GENAPAP", "GENALLERATE", "GENAPAP C", "GENAPAP PM", "GENORA", "GENASOFT PLUS", "GENASEC", "GENAPHED PLUS", "GENAPHED", "GENASAN", "GENASOFT", "GENEBS", "GENDECON", "GENNIN-FC", "GENGRAF", "GERIDIUM", "GENTLE", "GENORA 1/50", "GENPRIN", "GEONE", "GEOCILLIN", "GILTUSS", "GG-CEN", "GFN PSEH DTMH 06", "GFN DYP", "GFN PSEH DTMH TABLETS 11", "GILPHEX", "GILDESS", "GILTUSS SINUS AND CONGESTION", "GILTUSS ALLERGY AND SINUS", "GLU-K", "GINSANA", "HIVID", "H2Q", "GRISEOFULICIN", "GLYNASE PRES-TAB", "GLYCOTUSS-DM", "GLUMETZA", "GLUCOVANCE", "GLYBURASE", "GLYGURIDE", "GOODYS MIGRAINE RELIEF", "GLYTUSS", "GOODYS EXTRA STRENGTH", "GRISACTIN ULTRA", "GRISACTIN 500", "GUAITAB", "GUAIFED", "GRISEOFULVIC", "GUAIFED PD", "GYNODIOL", "GUIATEX", "GYBURIDE", "H-TRAN", "HECORIA", "HALOTESTIN", "HALDOL", "HALCION", "HALFPRIN", "HALFAN", "HAPONAL", "HALTRAN", "HARMONYL", "HAY FEVER ALLERGY RELIEVER", "HISMANAL", "HEPSERA", "HEMAVITE F", "HEMATINIC WITH FOLIC ACID", "HHR", "HEXADROL", "HIPREX", "HISTALET FORTE", "HISTA-VADRIN", "HISTA-TABS", "HISTAFED", "HISTATAN", "HISTATAB PLUS", "HISTEX", "HYDROCORTONE", "HY-PHEN", "HUMIBID CS", "HSS", "HOMAPIN-5", "HOMAPIN-10", "HUMIBID", "HUMIBID GC", "HUMIBID E", "HYDRA-ZIDE", "HYCOMED", "HYCO-PAP", "HYCODAN", "HYDONE", "HYCOMINE COMPOUND", "HYDRAP-ES", "HYDRALAZINE PLUS", "HYDRO-RESERP", "HYDRO PAR", "HYDROCET", "HYDROPHED", "HYDRODIURIL", "HYDROCOT", "HYDROGESIC", "HYDROMET", "HYDROSERP", "HYDROPRES-25", "HYDROPRES-50", "HYDROSERPINE #1", "HYDROSERPINE", "HYDROSTAT IR", "HYDROSTAT", "KLERIST-D", "ISMO", "IMODIUM", "I-COOL", "HYPERSED", "HYOMAX", "HYGROTON", "HYFLEX DS", "HYLOREL", "HYOSPAZ", "HYOSOPHEN", "HYPAM", "HYTUSS", "HYTRIN", "HYTINIC", "HYZAAR", "HYTUSS 2X", "HYZAAR 100/25", "HYZAAR 100/12.5", "HYZAAR 50/12.5", "IBU-TAB", "IBU-200", "IBIFON 600", "I.D.A.", "IBREN", "IBU-6", "IBU-4", "IBU-8", "IDENAL", "IBUDONE 5/200", "IBUDONE 10/200", "IDE-CET", "ILOSONE", "IMIPRAMIDE", "INVERSINE", "INDERAL", "IMOTIL", "IMODIUM A-D", "IMODIUM ADVANCED", "INCIVEK", "INDOCIN", "INDERIDE 40/25", "INDERIDE", "INDERIDE 80/25", "INOSITECH", "INNOFEM", "IRCON", "IODROL NR", "INVIRASE", "IOFEN", "IRON 300", "IRCON-FA", "IRONMAR", "JUVISYNC", "ISORDIL", "ISOCOM", "ISO-ACETAZONE", "ISOCET", "ISONARIF", "ISOLLYL", "ISOPTIN", "JEVANTIQUE", "JANTOVEN", "ISOVEX", "ISORDIL TITRADOSE", "JANUMET 50/1000", "JANUMET", "JANUMET 50/500", "JUNEL", "JOLIVETTE", "JUNEL FE", "KASOF", "KANTREX", "K-PHOS NEUTRAL", "K TAN", "KALETRA", "KAOPECTATE", "KAO-PAVERIN", "KAO-TIN CAPSULE", "KAOPECTATE STOOL SOFTENER", "KAOPECTATE 1-D", "KARIDIUM", "KERLONE", "KEFLEX", "KEEP ALERT", "KELNOR", "KETEK", "LAXATIV PLUS", "LAMPRENE", "KWAI", "KOLEPHRIN DM", "KOLEPHRIN", "KLONOPIN", "KRAFTPLEG", "KONSYL", "KRAFTOBESE", "KUTRASE", "KRAFTSTAT-35", "L-DROMORAN", "KYTRIL", "LA NASAL DECONGESTANT", "LADY-LAX", "LARODOPA", "LANOXIN", "LANOXICAPS", "LANIROIF", "LARIAM", "LANOZIN", "LAXA BASIC", "LAX-PILLS", "LASTOLIC", "LAX-SOFTENER", "LAXADAN", "LEVOTABS", "LEDERCILLIN VK", "LAXATIVE DOCUSATE-PHENOLPHTHALEIN", "LAXATIVE CASANTHROL-DOCUSATE", "LAXATIV PLUS PHENOLPHTHALEIN", "LEADER ACID REDUCER", "LAXATIVE PLUS", "LAXATIVE PHENOLPHTHALEIN", "LAXINATE", "LECITHIN NATURAL", "LEADER NAPROXEN", "LEVLEN", "LEGATRIN PM", "LEG EASE PM", "LEVACET", "LESSINA", "LEVATOL", "LEVORA", "LEVO-T", "LEVSIN WITH PHENOBARBITAL", "LEVOXYL", "LEVOTHROID", "LEVOXY", "LEVSIN", "LIMBITROL", "LIBRITABS", "LIBRAX", "LIBRAX REFORMULATED AUG 2006", "LIBRIUM", "LIMBITROL DS", "LIMBREL", "SINEQUAN", "NIFEREX", "MAXIFED CD", "LOXITANE", "LORABID PULVULES", "LODINE", "LIQUIBID DR", "LIPOFLAVOVIT", "LIORESAL", "LIPOFEN", "LIPTRUZET", "LO-AQUA", "LITHANE", "LIQUIBID PDR", "LITHOTABS", "LOBAC", "LO/OVRAL", "LONITEN", "LOFIBRA", "LODRANE D", "LOMOCOT", "LOHIST 12D", "LOPRESSOR HCT", "LOPRESSOR", "LOOPERAMIDE", "LOQUA", "LOPURIN", "LORABID", "LOTENSIN", "LORELCO", "LORCET HD", "LORCET", "LORCET 10/650", "LORCET PLUS", "LORTAB 2.5/500", "LORTAB 10/500", "LORTAB", "LORTAB 7.5/500", "LORTAB 5/500", "LORTAB ASA", "LOTREL 10/40", "LOTREL", "LOTENSIN HCT", "LOTREL 10/20", "LOTREL 5/10", "LOTREL 2.5/10", "LOTREL 5/40", "LOTREL 5/20", "LOW DOSE ASA", "MALATAL", "MAG-200", "LUVOX", "LUFYLLIN-GG", "LUFYLLIN", "LOZOL", "LUFYLLIN-EPG", "LUSONEX", "LURLINE PMS", "LUTERA", "LYNOX 2.5/300", "LYNOX 10/300", "LYDIA E. PINKHAM", "M-CAPS", "LYNOX 5/300", "LYNOX 7.5/300", "MAALOX ANTI-DIARRHEAL", "M-CLEAR WC", "MAGNEBIND", "MAGNACET", "MAGAN", "MAGGEL", "MAGNACET 5/400", "MAGNACET 10/400", "MAGNACET 2.5/400", "MAGNAPRIN", "MAGNACET 7.5/400", "MAGONATE", "MAGNEBIND 250/300", "MAGNEBIND 400/200", "MALARONE", "MAJOR-CIN", "MALARONE PEDIATRIC", "MARCILLIN", "MAPAP COLD FORMULA", "MALTSUPEX", "MALLOPRESS", "MALDEMAR", "MAOLATE", "MANDELAMINE", "MAPAP COLD", "MAPAP SINUS CONGESTION AND PAIN", "MAPAP PM", "MAPAP JUNIOR STRENGTH", "MAPAP SINUS", "MARAX", "MAR-ZINC", "MARBLEN", "MASOPHEN PM", "MARPRES", "MARGESIC", "MAREZINE", "MARDOL", "MARFARIN", "MARGESIC #3", "MARGESIC-H", "MARTHRITIC", "MASOPHEN", "MAXICHLOR PEH", "MAXAQUIN", "MAVIK", "MAXICHLOR", "MAXICHLOR PSE DM", "MAXICHLOR PSE", "MAXICHLOR PEH DM", "MAXIDONE", "MHP-A", "MEDENT DM", "MAXIFLU DM", "MAXIFED REFORMULATED JUL 2008", "MAXIFED DM REFORMULATED JUL 2008", "MAXIFED CDX", "MAXIFED DMX REFORMULATED JUL 2008", "MAXIFED-G REFORMULATED JUL 2008", "MAXIFED-G CD", "MAXIFED-G CDX", "MAXIFLU CD", "MAXIFLU", "MAXIFLU CDX", "MAXIPHEN REFORMULATED JUL 2008", "MAXIMUM STRENGTH MYLANTA GAS", "MAXIMUM ACETAMINOPHEN", "MAXIMUM ALLERGY RELIEF", "MAXIPHEN ADT", "MAXIPHEN", "MAXIPHEN CDX", "MAXIPHEN CD", "MAXIPHEN DM REFORMULATED JUL 2008", "MECLICOT", "MB-TAB", "MAZANOR", "MEBARAL", "MEDA CAP", "MECLOMEN", "MEDENT", "MERIDIA", "MEKINIST", "MEDISPAZ", "MEDENT-PEI", "MEDENT LDI", "MEDIGESIC", "MEDEREK", "MEDIPAIN 5", "MEDROL", "MEDIVERT", "MEGACE", "MEDROL DOSEPAK", "MEPERGAN FORTIS", "MENADOL", "MELLARIL", "MENI-D", "MEPRON", "MEPERITAB", "MEPROZINE", "METHADOSE", "METAHYDRIN", "METAGLIP", "MESTINON", "MESANTOIN", "METAGLIP/250", "METAGLIP/", "METAPREL", "METANX", "METATENSIN #4", "METATENSIN #2", "METFORMING", "METICORTEN", "METHYLIN", "METHERGINE", "METHYLPRED", "MEVACOR", "METRYL", "METRONIDALE", "MEXITIL", "MUCINEX FAST-MAX COLD AND SINUS", "MOBIDIN", "MIDOL PM REFORMULATED APR 2011", "MIDOL COMPLETE", "MICRONOR", "MICRAININ", "MICARDIS-HCT", "MI-OMEGA", "MICOMP-PB", "MICRONASE", "MICROGESTIN", "MIDAMOR", "MIDCHLOR", "MIDOL IB", "MIDOL CRAMPS AND BODYACHES", "MIDOL EXTENDED RELIEF", "MIDOL MAXIMUM STRENGTH MENSTRUAL", "MIDOL MAXIMUM STRENGTH CRAMP FORMULA", "MIDOL PM", "MILTOWN", "MIGQUIN", "MIDOL TEEN", "MIDOL PMS MAXIMUM STRENGTH", "MIDRIN", "MIGRATINE", "MIGRATEN", "MIGRAN-A", "MILONTIN", "MIRAPEX", "MINOCIN", "MINIZIDE", "MINITABS", "MINTAB DM", "MINOTAL", "MIRADON", "MITRIDE", "MITRAN", "MIRTAZDINE", "MOBAN", "MONOPRIL", "MODANE SOFT", "MODANE", "MOBIGESIC", "MODANE PLUS", "MOMENTUM TRADENAME", "MODURETIC 5-50", "MODICON", "MOL-IRON", "MONOCAL", "MONONESSA", "MOTRIN IB SINUS", "MOTRIN", "MONOPRIL HCT", "MOTRIN COLD AND FLU", "MOTRIN CHILDRENS", "MSIR", "MOTRIN MIGRAINE PAIN", "MOTRIN JUNIOR STRENGTH", "MOXILIN", "MOTRIN SINUS HEADACHE", "MUCINEX FAST-MAX COLD AND FLU NIGHTTIME", "MSP-BLU", "NATURE-THROID", "MYGREX", "MUCINEX SINUS-MAX SEVERE CONGESTION RELIEF", "MUCINEX SINUS-MAX DAY", "MUCINEX FAST-MAX SEVERE CONGESTION AND COUGH", "MUCINEX FAST-MAX SEVERE COLD", "MUCINEX NON-DROWSY ALLERGY", "MUCINEX SINUS-MAX PRESSURE AND PAIN", "MUCINEX SINUS-MAX NIGHT", "MUDRANE GG-2", "MUDRANE", "MUCUS RELIEF DM", "MUCUS RELIEF", "MUDRANE GG", "MYAMBUTOL", "MULTI-SYMPTOM COLD RELIEF", "MULTI SYMPTOM COUGH AND COLD", "MY-E", "MYGRACET", "MYCELEX TROCHES", "NALFON", "MYLANTA GELCAP", "MYLANTA AR", "MYKROX", "MYLANTA GAS RELIEF GELTAB", "MZM", "MYRAC", "MYTELASE", "NALACET", "NAIL-EX", "NALDECON DX LIQUIGEL", "NARVOX", "NAPROSYN", "NAMENDA", "NAPEOXEN", "NAQUA", "NAPROXRN", "NARFARIN", "NATURAL THYROID", "NASAL DECONGESTANT-ANTIHISTAMINE", "NASAL TABLET", "NATURE FUSION COLD AND FLU", "NELOVA", "NECON", "NATURETIN-5", "NATURETIN-10", "NATURES REMEDY", "NAVANE", "NECON 1/50", "NEGGRAM", "NEOTHYLLINE", "NEO-TAB", "NELOVA 1/50 M", "NEMBUTAL SODIUM", "NEORAL", "NEOSOL", "NEXAFED SINUS AND PAIN", "NEPTAZANE", "NEPHRO-FER", "NEPHRO-FER RX", "NERVINE", "NERAPAMIL", "NICOLAR", "NIACOR B3", "NICOMIDE", "PRIMALEV", "PALGIC", "ONSET FORTE", "NORLYROC", "NOR-QD", "NIZORAL", "NILANDRON", "NIGHT TIME PAIN MEDICINE EXTRA STRENGTH", "NIFEREX-150", "NIGHT TIME SLEEP-AID", "NITROQUICK", "NITRO MACRO", "NITETIME", "NITROFURANTIN", "NIVA-FOL", "NITROSTAT", "NON ASPIRIN EXTRA STRENGTH", "NOLAHIST", "NO DOZ MAXIMUM STRENGTH", "NO DOZ", "NOHIST-PLUS", "NOLVADEX", "NON-ASPIRIN PM", "NON-ASPIRIN", "NON ASPIRIN FLU", "NON-ASPIRIN PAIN RELIEVER", "NON-DROWSY SINUS MAXIMUM STRENGTH", "NON-ASPIRIN SINUS", "NONBAC", "NOREL AD", "NORCO 5/325", "NORCO 10/325", "NORCO", "NORDETTE", "NORCO 7.5/325", "NOREL", "NORINYL", "NORGESIC", "NORETHIN 1/50 M", "NORGESIC FORTE", "NORINYL 1-50", "NYTOL", "NULLO", "NORVAXS", "NORPRAMIN", "NORMODYNE", "NOROXIN", "NORTREL", "NORTHYX", "NOVASAL", "NOVAFERRUM IRON", "NOTRIPTYLINE", "NOVAGESIC", "NUCOFED", "NOVOTHYROX", "NUFOL", "NYQUIL MULTI-SYMPTOM", "NY-TANNIC", "NUPRIN", "NUPRIN BACKACHE", "NYQUIL COLD AND FLU", "NYQUIL SINEX", "NYQUIL SEVERE COLD AND FLU", "OCUDOX", "OBEZINE", "OBENIX", "NYTOL CAPLET", "OBEPHEN", "OCTYCINE", "OBY-TRIM", "OBY-CAP", "OCEAN BLUE NUTRITIONALS VITAMIN B PLUS OMEGA-3 1450", "OCTYCINE-100", "OCTYCINE-250", "OMNIPEN", "OMNICEF", "OGEN", "OMNICEF OMNI-PAC", "ONETAB COLD AND FLU", "ONCET", "ONDANESTRON", "ONFI", "ORNEX", "ORETICYL 50", "ORAZINC 110", "ORAGRAFIN SODIUM", "OPTIMINE", "OPANA", "ORACEA", "ORASONE", "ORBIVAN CF", "ORAZINC 220", "ORBIVAN", "ORETIC", "ORENITRAM", "ORETICYL 25", "ORGAN-1 NR", "ORETICYL FORTE", "ORETON METHYL", "ORGANIDIN NR", "ORINASE", "P-V-TUSSIN", "OXECTA", "ORUDIS", "ORTHO NOVUM", "ORPHENGESIC FORTE", "ORPHENGESIC", "ORTHO CYCLEN", "ORTHO-CEPT", "OVCON", "ORVATEN", "ORUDIS KT", "OVABAN", "OVRETTE", "OXANDRIN", "OYSTER SHELL", "OXYIR", "OXY IR", "OYSTER CAL", "OYST CAL", "OYSTER CALCIUM", "OYSTER SHELL CALCIUM 500", "P-1000", "PAIN RELIEF PM ADDED STRENGTH", "PACERONE", "PACAPS", "PAIN RELIEF PM", "PAIN RELIEVER PM", "PAIN RELIEVER ADDED STRENGTH", "PAIN RELIEF WITH ASPIRIN", "PAIN-GESIC", "PERLOXX 2.5/300", "PEGANONE", "PARADIONE", "PANEX 500", "PANADOL JR.", "PAMPRIN MAXIMUM PAIN", "PAMPRIN ES MULTI-SYMPTOM RELIEF FORMULA", "PALS CHLOROPHYLL COPPER COMPLEX", "PANACET", "PANCREATIN 4X", "PANASAL 5/500", "PANEX", "PANLOR SS", "PANLOR", "PANFIL G", "PANLOR DC REFORMULATED JAN 2008", "PANNAZ", "PANMYCIN", "PANRITIS FORTE", "PANSHAPE M", "PAXIPAM", "PAXAREL", "PARAFON FORTE DSC", "PARAFLEX", "PAROMYCIN", "PAXIDORM", "PC PEN VK", "PBZ", "PC-CAP", "PEDAMETH", "PERCOCET 7.5/325", "PERCOCET", "PENETREX", "PEN-VEE K", "PEN-V", "PENDEX", "PEPTO DIARRHEA CONTROL", "PEPCID AC", "PEPCID", "PERCHLORACAP", "PERCOCET 10/650", "PERCOCET 10/325", "PERCOCET 5/325", "PERCOCET 2.5/325", "PERESTAN", "PERCOGESIC", "PERCODAN REFORMULATED MAY 2009", "PERCOCET 7.5/500", "PERCODAN-DEMI", "PERCOGESIC REFORMULATED JAN 2011", "PERCOGESIC EXTRA STRENGTH", "PERCOLONE", "PERDIEM FIBER CAPLET", "PERIACTIN", "PERI-D.O.S.", "PERI-COLACE", "PERI-DS", "PERISINE", "PERIOSTAT", "PERLOXX 10/300", "PERLOXX", "PHLEESIC", "PHENAPAP", "PERMITIL", "PERLOXX 7.5/300", "PERLOXX 5/300", "PERMAX", "PHAZYME", "PERTOFRANE", "PERSANTINE", "PHARMAGESIC", "PHAZYME-125 SOFTGELS MAXIMUM STRENGTH", "PHEN-LAX", "PHENERGAN", "PHENAZO", "PHENAPHEN WITH CODEINE", "PHENAPAP SINUS IMPROVED", "PHENAPHEN WITH CODEINE #4", "PHENAPHEN WITH CODEINE #3", "PHENAVENT PED", "PHENDIET", "PHENCO-CARE", "PHENTERCOT", "PHENFLU CDX", "PHENFLU CD", "PHENFLU", "PHENFLU DM", "PHENYLGESIC", "PHENURONE", "PHENTRIDE", "PHENYLFENESIN", "PHILLIPS GEL", "PHENZENE", "PHILLIPS STOOL SOFTENER", "POLY-VENT DM", "POLARAMINE", "PLAQUENIL", "PHRENILIN FORTE", "PHOSLO", "PHRENILIN", "PLACIDYL", "PHRENILIN WITH CAFFEINE AND CODEINE", "PLAN B", "PLETAL", "PLEGINE", "PLEMEX", "PNEUMOTUSSIN", "POLY HIST FORTE REFORMULATED NOV 2013", "POLY HIST FORTE", "POLY IRON", "POLY HIST FORTE REFORMULATED OCT 2010", "POLY-VENT", "PP-CAP", "PONSTEL", "POLYCARB", "POLY-VENT PLUS", "POLY-VENT IR", "POLYGESIC", "POLYCILLIN", "PONDIMIN", "POTABA", "POSICOR", "POTIGA", "POXI", "PREDNICEN-M", "PRANDIN", "PRANDIMET 1/500", "PRANDIMET", "PRANDIMET 2/500", "PRAVACHOL", "PREMESYN PMS", "PREDONE", "PREDNICOT", "PRELIEF", "PREMESIS RX", "PREVIFEM", "PREZISTA", "ROBINUL", "PYRIDIUM", "PRONESTYL", "PRINIVIL", "PRIMOR 120", "PRIMALEV 300/5", "PRIMALEV 300/2.5", "PRIMALEV 300/10", "PRIMATENE DUAL ACTION", "PRIMALEV 300/7.5", "PRIMLEV 300/5", "PRIMLEV 300/10", "PRIMLEV 300/7.5", "PRIMOR 600", "PRIMOR 1200", "PRIMOR 240", "PRINCIPEN", "PROFERRIN-FORTE", "PROANTHO PLUS", "PRO-FAST SA", "PRINZIDE", "PRINIZE", "PRO-FAST HS", "PROAMATINE", "PRO-FAST SR", "PRODIUM", "PROBANTHINE", "PROCET", "PRODROXY", "PRODRIN", "PROFERRIN", "PROLOPRIM", "PROGLYCEM", "PROFLOXACIN", "PROLIXIN", "PROMACTA", "PROMACOT", "PROMACET", "PROMINOL", "PROVERA", "PROSOM", "PROPOXYPHENE COMPOUND 65", "PROPACET 100", "PRONOL", "PROPACET", "PROPAGEST", "PROSED", "PROPYLHIOURACIL", "PROSED/DS", "PROTOSTAT", "PROSTIGMIN BROMIDE", "PROTID", "PROVENTIL", "PSEUDOFED", "PSE SINUS", "PRULET", "PROZAC", "PSEUDOCOT", "PSEUDO-PLUS", "PSEUDOCOT-T", "PSEUDOEPHEDRINE SINUS", "PYCNOGENOL", "PSEUDOVAL", "PSEUDOTABS", "PURINETHOL", "PYRELLE", "PYREGESIC-C", "PYLERA", "PYRELLE HB", "REFENESEN CHEST CONGESTION AND PAIN RELIEF PE", "QUINEPROX", "QLEARQUIL NIGHTTIME", "Q-FED", "PYRROXATE COLD AND CONGESTION", "PYRIDOSTISMINE", "PYRIDIUM PLUS", "PYRROXATE", "Q-DRYL", "Q-ACIN", "Q-PROFEN", "Q-LAX", "Q-GESIC", "Q-PAP", "QLEARQUIL ALLERGY RELIEF", "Q-SORB CO Q-10", "QLEARQUIL DAYTIME SINUS AND CONGESTION", "QUIBRON", "QUAD TANN", "QLEARQUIL NIGHTTIME ALLERGY RELIEF", "QM-260", "QUALAQUIN", "QUALA CET", "QUARZAN", "QUINARETIC 12.5/10", "QUINAMM", "QUIBRON-T", "QUIBRON 300", "QUIN-TAB", "QUINARETIC", "QUINARETIC 10/12.5", "QUINARETIC 20/12.5", "QUINARETIC 12.5/20", "QUINARETIC 25/20", "QUINARETIC 20/25", "RAPIFLUX", "RADTUE", "R-TANNATE", "R-TANNAMINE", "QUINORA", "RADIOGRADASE", "RAPDONE", "RAPHTRE", "RE-AZO", "RAUZIDE", "RAUWOLFEMMS", "RAXAR", "RE KAR CE PLUS", "REDUTEMP", "RECEDE", "RECLIPSEN", "REFENESEN", "REDUX", "REFENESEN CHEST CONGESTION AND PAIN RELIEF", "REZINE", "RENESE-R", "REMULAR", "REGULAX SS", "REFENESEN PE", "REGROTON", "RELAXAZONE", "RELAGESIC", "REMINYL", "RENAGEL", "REMULAR-S", "RENESE", "RESCON TABLETS", "REPREXAIN", "RENTAMINE", "RENITEC", "REPREXAIN 5/200", "REPREXAIN 10/200", "REPREXAIN 2.5/200", "REPREXAIN 7.5/200", "RESTONE", "RESPAIRE", "RESPA CANDC", "RESCRIPTOR", "RESPAIRE-30", "RESPAIRE 30", "RESPIVENT-D", "REVIA", "RETROVIR", "REYATAZ", "REXAVITE", "RIDAFED", "RHINOFLEX", "RHINATATE", "RHEUMATREX", "RHEABAN MAXIMUM STRENGTH", "RHINAHIST", "RHINOCAPS", "RICOBID", "RHINOLAR", "RHINOGESIC", "RID-A-PAIN", "RIDACTATE", "RIMACTANE", "RIDIFED", "RIDENOL", "RIDRAMIN", "RIDIPRIN", "RITALIN", "RIMANTIDINE", "RISPAS", "ROBAXIN-750", "ROBAFEN", "ROBAXISAL", "SALETO-200", "ROXIPRIN", "ROBITUSSIN PEAK COLD NASAL", "ROBITUSSIN COUGH GELS", "ROBITUSSIN COLD AND COUGH", "ROBITET 500", "ROBITUSSIN", "ROBITUSSIN COLD COUGH AND FLU", "ROBITUSSIN NIGHT COLD", "ROBITUSSIN MAXIMUM STRENGTH COUGH PLUS CHEST CONGESTION DM", "ROBITUSSIN PEAK COLD DAYTIME COLD PLUS FLU", "RONDEC", "ROBITUSSIN SEVERE CONGESTION", "ROBITUSSIN PEAK COLD NIGHTTIME NASAL RELIEF", "ROBITUSSIN PEAK COLD NIGHTTIME COLD PLUS FLU", "RONDAMETH", "RONDAMINE", "ROXICET 5/500", "ROXICET", "ROSE HIPS C", "ROXICET 5/325", "ROXICODONE", "ROXILOX", "RYMED-D", "RUFEN", "RU HIST FORTE", "ROXYBOND", "RU HIST D", "RU-VERT-M", "RX-ACT ALL DAY PAIN RELIEF", "RULOX #1", "RULOX #2", "RYMED", "RY-TUSS", "RYNATAN", "RYNA-12", "RYNA-12X", "SAL-TROPINE", "RYTHMOL", "RYNEZE", "SALAGEN", "SERAX", "SECTRAL", "SALURON", "SALETO-600", "SALETO-400", "SALFLEX", "SALETO-800", "SALSITAB", "SANSERT", "SALUTENSIN-DEMI", "SALUTENSIN", "SANOREX", "SANCTURA", "SEA-OMEGA", "SCHIFF MOVE FREE", "SARAFEM", "SCOPACE", "SEASONALE", "SENOX", "SENOKOT EXTRA", "SELFEMRA", "SELEGILENE", "SEDAPAP", "SENIOR MOMENT", "SENORMIN", "SENOSOL", "SER-AP-ES", "SEPTRA", "SENSIPAK", "SEPTRA DS", "SERATHIDE", "SIMRON", "SERZONE", "SEROPHENE", "SERENTIL", "SERPAZIDE", "SERPEX", "SIMPLET", "SEUDOTABS", "SIMPLY SLEEP", "SINAREST SINUS", "SINAREST", "SINAPILS", "SINA-12X", "SINAREST EXTRA STRENGTH", "SINE-OFF MAXIMUM STRENGTH", "SINE-AID IB", "SINE-AID", "SINE-OFF COLD AND COUGH", "SINE-OFF SINUS AND COLD", "SINE-OFF MAXIMUM STRENGTH REFORMULATED SEP 2008", "SINEMET", "TYLENOL ALLERGY MULTI-SYMPTOM NIGHTTIME", "SUDOGEST SINUS MAXIMUM STRENGTH", "SPASMOLIN", "SINUTAB SINUS", "SINUTAB", "SINUSON", "SINULIN", "SINUCOT", "SINUHIST", "SINUS MAXIMUM STRENGTH", "SINUS AID", "SINUS RELIEF", "SINUSON II", "SINUSTAB", "SINUTAB MAXIMUM STRENGTH", "SINUTAB EX-STRENGTH", "SINUTAB NON DRYING", "SINUTAB REGULAR STRENGTH", "SOMINEX", "SLEEP-ETTES", "SLEEP AID DIPHENHYDRAMINE", "SKELAXIN", "SINUTUSS DM", "SITREX", "SKELID", "SLEEP AID WITH APAP", "SLEEP AID DOXYLAMINE", "SLEEP TAB II", "SLO-PHYLLIN", "SLEEP-EZE-3", "SLEEP-EZE", "SLEEPINAL", "SOLFOTON", "SOLATENE", "SLOW-MAG", "SOMA COMPOUND", "SOLIA", "SOMA COMPOUND WITH CODEINE", "SORINE", "SOMNICAPS", "SOMINEX MAXIMUM STRENGTH", "SOMINEX PAIN RELIEF FORMULA", "SONIAZIO", "SOMNOTE", "SORBITRATE", "SOOTHE CAPLETS", "SORIATANE", "SPACOL TABLET", "SPACOL", "SOTRET", "SPASDEL", "SPARINE", "SUDAFED", "STELAZINE", "STAGESIC", "SPORANOX-PULSE", "SPECIAL C", "SPASTOLATE", "SPIRONO", "SPECTRACEF", "SPIRONOLACTONE PLUS", "STABEC", "SPRINTEC", "SRONYX", "STAFLEX", "STATOBEX", "STAGESIC-10", "STAGESIC 10/250", "STAHIST", "STAY ALERT", "STAY AWAKE", "STOOL SOFTENER PLUS", "STERAPRED DS", "STERAPRED", "STILPHOSTROL", "STOMAX", "STROMECTOL", "STOOL-LAX", "STRIFON FORT", "STRONG CAPS", "SUDAFED PE SINUS HEADACHE", "SUDAFED PE NIGHTTIME DECONGESTANT", "SUDAFED PE COLD AND COUGH", "SUDAFED COLD AND SINUS", "SUDAFED COLD AND COUGH LIQUICAPS", "SUDAFED NON DRYING SINUS", "SUDAFED PE", "SUDAFED PE NIGHTTIME COLD", "SUDAFED PE HEAD CONGESTION PLUS PAIN", "SUDAFED PE SEVERE COLD", "SUDAFED PE PRESSURE PLUS PAIN PLUS COUGH", "SUDAFED PE NON-DRYING SINUS", "SUDAFED PE PRESSURE PLUS PAIN PLUS MUCUS", "SUDAFED PE SINUS AND ALLERGY", "SUDAFED PE SINUS CONGESTION PLUS ALLERGY", "SUDAFED SINUS AND ALLERGY", "SUDAFED SEVERE COLD", "SUDAFED PE TRIPLE ACTION", "SUDAFED PLUS", "SUDAFED SINUS", "SUDAFED TRIPLE ACTION", "SUDAFED SINUS NIGHTTIME", "SUDAFED SINUS HEADACHE", "SUDAFED SINUS NIGHTTIME PLUS PAIN RELIEF", "SUDOGEST", "SUDODRIN", "SUDAL 12", "SUDOGEST PLUS", "SUDOGEST PE", "SUDOGEST SINUS AND ALLERGY", "TONOCARD", "TAVIST NIGHTTIME ALLERGY", "SYMMETREL", "SUPHEDRIN SINUS", "SUP PAIN MED", "SULFALAX CALCIUM", "SUDRINE", "SUMYCIN", "SULFAZIN", "SUNKIST VITAMIN C", "SUPER CALCIUM", "SUPAC", "SUPER C-500", "SUPHEDRIN", "SUR-Q-LAX", "SUPHEDRINE PLUS", "SUPRAMINE", "SYMADINE", "SURFAK STOOL SOFTENER", "SYMBYAX", "TALWIN NX", "TAGAMET", "T-PAINOL", "T-DIET", "SYNTHROID", "T-GESIC", "TAB-PROFEN", "T-PAINOL EXTRA STRENGTH", "TACE", "TACE BRAND NAME", "TALACEN", "TAGAMET HB", "TALWIN COMPOUND", "TALADINE", "TANDEM OB", "TANAMINE", "TAMBOCOR", "TANDEM F", "TANDEM", "TARCEVA", "TANORAL", "TANNIC-12 S", "TARA-8", "TAVIST ALLERGY", "TAVIST", "TAVIST ALLERGY/SINUS/HEADACHE", "TERRAMYCIN", "TEKAMLO", "TECHNIVIE", "TAVIST-1", "TAVIST SINUS", "TAVIST-DA", "TAXADONE", "TEGISON", "TEDRIGEN", "TENCON", "TELDRIN HBP", "TEKTURNA HCT 150/12.5", "TEKTURNA", "TEKRAL", "TEKTURNA HCT 300/12.5", "TEKTURNA HCT 150/25", "TEKTURNA HCT 300/25", "TEMARIL", "TENCET", "TENUATE", "TENEX", "TENORETIC", "TERAMINE", "TEQUIN TEQPAQ", "TERMENE", "TERBINEX", "THERAFLU NIGHTTIME SEVERE COLD TABLET", "THEOLAIR", "TEVETEN", "TETRA-MAG", "TESTOMAR", "TESSALON PERLES", "TETRA 500", "TETRACAP", "TETRACON", "THALITONE", "TEVETEN HCT", "THEODRINE", "THERAFLU DAYTIME SEVERE COLD AND COUGH", "THERACRAN", "THEOPHYLL-GG", "THEOSPECT", "THERAFLU DAYTIME SEVERE COLD", "THERAFLU NIGHTTIME MAXIMUM STRENGTH", "THERAFLU NIGHTIME MAXIMUM STRENGTH", "THERAFLU NIGHTTIME SEVERE COLD CAPSULE", "TIGAN", "THIOSULFIL FORTE", "THERAFLU SEVERE COLD NIGHTTIME", "THERAFLU NO DROWSINESS MAXIMUM STRENGTH", "THERAFLU SINUS", "THERMOTABS", "THREOSTAT", "THORAZINE", "THYROLAR", "THYBINE", "THYROX", "TOFRANIL-PM", "TIMOLIDE", "TIJA", "TOFRANIL", "TIROSINT", "TOLECTIN", "TOL-TAB", "TOLINASE", "TRIPHED", "TRECATOR-SC", "TRAC TABS 2X", "TOTACILLIN", "TORADOL", "TOPAMAX SPRINKLE", "TOPIRAGEN", "TORECAN", "TOTAL ALLERGY", "TOURO ALLERGY", "TRANDATE", "TRANCOPAL", "TRAMALGIN", "TRAHIST", "TRANCOT", "TRAVEL-EASE", "TRANXENE-SD", "TRANQUIL NIGHTTIME SLEEP AID", "TRAVEL-EZE", "TRAVEL-WISE", "TRIAMINICOL MULTI SYMPTOM COUGH AND COLD", "TRI-ZEL", "TRI-HYDROSERPINE", "TREZIX", "TREXIMA", "TREXIMET", "TRI-BUFFERED ASPIRIN", "TRI LEVLEN", "TRI-PSEUDO", "TRI-NEFRIN", "TRI-TANNATE", "TRI-SUDO", "TRI-TANNATE PLUS", "TRIAMINICIN", "TRIAFED", "TRIAD", "TRIAMINICIN REFORMULATED SEP 2008", "TRIDIONE", "TRIBLIDE", "TRIAVIL 25/2", "TRIAVIL 10/2", "TRIAVIL", "TRIAVIL 10/4", "TRIAVIL 25/4", "TRIAVIL 50/4", "TRICOR", "TRICOSAL", "TRILAFON", "TRIHEXANE", "TRIGLIDE", "TRINTELLIX", "TRIMPEX", "TRIMOX", "TRIOTANN", "TRIONATE", "TULANA", "TRIVEEN", "TRISORALEN", "TRIPTIFED", "TRIPLEFLEX", "TRISOFED", "TRITAN", "TRISUDRINE", "TRITEC", "TRITUSS ER", "TRUX-ADRYL", "TROVAN", "TRUXCILLIN-VK", "TRUXAZOLE", "TUINAL", "TUSSO-DMR", "TUSSEND", "TUSNEL CAPS", "TUSICOF", "TUSS DM", "TUSS TAN", "TUSSIGON", "TUSSI-12", "TUSSI-12D", "TUSSIZONE-12 RF", "TUSSIN COUGH AND COLD", "TUSSO ZMR", "TYLAGESIC 3", "TWO-DYNE", "TWILITE", "TYLENOL ALLERGY", "TYLENOL", "TYLENOL ALLERGY MULTI-SYMPTOM", "VERTICALM", "UNI-SED PLUS", "UAA", "TYLENOL FLU MAXIMUM STRENGTH", "TYLENOL COLD MULTI-SYMPTOM DAYTIME", "TYLENOL COLD", "TYLENOL ALLERGY SINUS CAPLET", "TYLENOL ALLERGY SINUS", "TYLENOL ALLERGY SINUS NIGHTTIME", "TYLENOL CHEST CONGESTION", "TYLENOL COLD HEAD CONGESTION SEVERE", "TYLENOL COLD COMPLETE FORMULA", "TYLENOL COLD NO DROWSINESS", "TYLENOL COLD MULTI-SYMPTOM NIGHTTIME", "TYLENOL COLD MULTI-SYMPTOM SEVERE", "TYLENOL COLD SEVERE CONGESTION NON-DROWSY", "TYLENOL COLD RELIEF NIGHTTIME", "TYLENOL COLD RELIEF", "TYLENOL COLD SEVERE CONGESTION", "TYLENOL EXTRA STRENGTH P.M.", "TYLENOL SINUS CONGESTION AND PAIN DAYTIME", "TYLENOL SEVERE ALLERGY", "TYLENOL NIGHTIME FLU GELCAP MAXIMUM STRENGTH", "TYLENOL FLU MAXIMUM STRENGTH NIGHTTIME", "TYLENOL PM EXTRA STRENGTH", "TYLENOL SINUS", "TYLENOL SINUS CONGESTION AND PAIN NIGHTTIME", "TYLENOL SINUS SEVERE CONGESTION", "TYLENOL SINUS CONGESTION DAYTIME", "TYLENOL SINUS CONGESTION AND PAIN SEVERE", "TYLENOL SINUS MAXIMUM STRENGTH", "TYLENOL SINUS CONGESTION NIGHTTIME", "TYLENOL SINUS NIGHTTIME", "TYLOPHEN", "TYLENOL WITH CODEINE #3", "TYLENOL WITH CODEINE #2", "TYLENOL WITH CODEINE #4", "TYLOX", "TYZEKA", "UNI-CASE", "UNI SERP", "ULTRACEF", "UGESIC", "ULTRABALANCE", "ULTRAM", "ULTRACET", "UNI BRONCHIAL", "ULTRAPRIN", "UNI-ANN", "UNI-ACE", "UNI-CAL 500", "UNI-BUFF", "UNI-CALM", "UNI-HIST", "UNI-EASE PLUS", "UNI-EASE", "UNI-CORTROM", "UNI-FED", "UNI-FEMLAX", "UNI-PRO", "UNI-PERR", "UNI-SED", "URITACT", "URETRON", "UNISOM WITH PAIN RELIEF", "UNIPRES", "UNILAX", "UNI-TREN", "UNI-TEX", "UNI-TRIS", "UNIPEN", "UNIRETIC 15/12.5", "UNIRETIC", "UNIRETIC 7.5/12.5", "UNIRETIC 15/25", "UNISOM SLEEPGELS MAXIMUM STRENGTH", "URAPINE", "UNIVASC", "UNITHROID", "URELIEF", "URECHOLINE", "URELLE", "URELIEF PLUS", "URIMAR T", "URICALM", "UREX", "URETRON DS", "URI-SEP SC", "URIDON MODIFIED", "URICALM INTENSIVE", "URISEDAMINE", "URISED", "URINARY ANALGESIC", "URISPAS", "URISTAT", "VANACHOL", "UROXATRAL", "UROBIOTIC-250", "URO-KP-NEUTRAL", "URITIN", "URITACT DS", "URL-TANNATE", "UROBIOTIC", "UROPHEN", "UROGESIC", "URODOL", "UROLENE BLUE", "UROPLUS DS", "UROPLUS", "UROTROL", "V-CIL-K", "USEPT", "URSO", "URSINUS", "URSO FORTE", "UTI RELIEF", "UTIRA", "VALTURNA", "VA-ZONE", "V-CILLIN K", "VALOMAG", "VALORIN EXTRA", "VALUPHED WITH ACTAMINE", "VALU-DRYL", "VANACET", "VAYACOG", "VANTIN", "VANQUISH", "VANATAB", "VANATRIP", "VANSIL", "VANSPAR", "VASODILAN", "VASERETIC 10-25", "VASCOR", "VASERETIC", "VASERETIC 5-12.5", "VASOFLEX HD", "VASOTEC", "VECTRIN", "VAYAROL", "VAYARIN", "VAZOTAB REFORMULATED DEC 2013", "VENDONE", "VENASTAT", "VEETIDS", "VERAZINC", "WAL-TUSSIN COLD AND FLU CAPSULE", "WAL-ACT", "VISTRA", "VICKS 44 COLD AND COUGH LIQUICAPS", "VI-ATRO", "VESANOLD", "VERV", "VESICARE", "VIBRA-TABS", "VI-SUDO", "VIBRAMYCIN", "VIRIDIUM", "VICOPROFEN", "VICODIN ES", "VICODIN", "VICODIN HP", "VILOFANE", "VIDONE", "VIRACEPT", "VISKEN", "VISICOL", "VISTARIL", "VISQID", "VITEKTA", "VITAMIN C TR", "VITA-RESPA", "VISTUSS", "VITABEE WITH C", "VITAPAP", "VOLTAREN", "VITRON-C", "VITELLE NESTREX", "VIVACTIL", "VYTORIN", "VOPAC", "VONTROL", "VOTRIENT", "WAKESPAN", "VYVANSE", "WAL-PHED", "WAL-DRYL SEVERE ALLERGY AND SINUS", "WAL-DRYL PE", "WAL-FINATE", "WAL-DRYL-D ALLERGY", "WAL-FINATE-D", "WAL-PHED PE SINUS AND ALLERGY", "WAL-PHED PE COLD AND COUGH MULTI-SYMPTOM DAYTIME", "WAL-PHED COLD AND COUGH", "WAL-PHED PE SEVERE COLD", "WAL-PHED PE COLD MULTI-SYMPTOM NIGHTTIME", "WAL-PROFEN COLD AND SINUS", "WAL-PHED PE TRIPLE RELIEF", "WAL-PHED PE SINUS HEADACHE", "WAL-PHED SINUS AND ALLERGY", "WAL-PROXEN", "WAL-PROFEN CONGESTION RELIEF AND PAIN", "WAL-TUSSIN COLD AND CONGESTION CAPSULE", "ZAROXOLYN", "XODOL", "WESTHROID", "WEHLESS", "WARFAREN", "WAL-TUSSIN COUGH", "WAL-TUSSIN COLD SEVERE CONGESTION CAPSULE", "WARFIN", "WARFARING", "WAYKUP", "WELCHOL", "WEIGHT LOSS SUBSTANCE", "WELLBUTRIN", "WESORBIDE", "WP THYROID", "WOMENS GENTLE LAXATIVE", "WIGRAINE", "WESTRIM", "WOMANS LAX", "WOMENS LAXATIVE", "WOMENS TYLENOL MENSTRUAL RELIEF", "WYMOX", "WYGESIC", "WYTENSIN", "X-PAIN RELIEF", "YOHIMAR", "XTRA-LAX", "XS NO ASPIRIN PR", "XOLOX", "XPECT", "XS PAIN RELIEVER", "YASMIN", "Y-COF DM", "XYZAL", "YAZ", "ZAGAM", "YOVITAL", "YOMAN", "YOHIMEX", "Z TUSS", "ZANTAC 300 GELDOSE", "ZANTAC", "ZAGAM RESPIPAC", "ZANTAC 150", "ZANTAC 300", "ZANTAC GELDOSE", "ZANTAC 75", "ZANTRYL", "ZOTEX", "ZERLOR", "ZEBUTAL", "ZARTAN", "ZEBETA", "ZENCHENT", "ZELNORM", "ZEPHREX", "ZIAC", "ZESTORETIC", "ZERVALX", "ZGESIC", "ZFLEX", "ZINCATE", "ZIAC 2.5/6.25", "ZIAC 10/6.25", "ZIAC 5/6.25", "ZOFRAN", "ZONEGRAN", "ZYDONE", "ZOVIA 1/35", "ZOTEX GPX", "ZOTEX EX", "ZOTEX-GP", "ZOVIA 1/50", "ZYDONE 7.5/400", "ZYDONE 5/400", "ZYDONE 10/400", "ZYDONE 5/500", "ZYRTEC", "ZYMECOT", "ZYVOX"]



        console.log(sportlist);
        $('#id_medicinesearchinput').select2({
            data : sportlist,
            minimumInputLength: 1,
            width: '100%',
            allowClear: true,
            placeholder: "Select Medicine"
        });
    });

    $('#id_medicinesearchinput').on('change', function () {
         var url = "{% url 'dosage' %}";
        data = {'search' : $('#id_medicinesearchinput').val()}

        $.post(url, data, function(data)
        {
            if (data.status == 1)
            {
                $('#id_dosage').empty();
                $('#id_dosage').append(data.dosage_select);

            }
        });
    });
    let current_list = new Array();
    $('#id_medicineadd').on ('click', function(){
        var url = "{% url 'prescriptionchecker' %}";
        data = {'search' : $('#id_medicinesearchinput').val(),
                'dosage' : $('#id_dosage').val()}

        $.post(url, data, function(data)
        {
            if (data.status == 1)
            {
                $('#id_generic_details tbody').empty();
                $('#id_prescription_details tbody').append(data.table_html);
                console.log(data.generic_name_dict);
                console.log(data.dosage_dict);
                check_gen(data.generic_name_dict, data.dosage_dict, current_list);
                var i;
                for (i = 0; i < current_list.length; i++) {
                  console.log(current_list[i][0]);
                  console.log(current_list[i][1]);
                  if(current_list[i][1].includes('+')){
                        col = 'red';
                  }
                  else{
                        col = '';
                  }
                  table_html = "<tr><td>" + current_list[i][0] + "</td><td bgcolor="+ col +">" + current_list[i][1] + "</td></tr>"
                  $('#id_generic_details tbody').append(table_html);
                  $('#id_medicinesearchinput').val(null);
                  $("#id_medicinesearchinput").val('').trigger('change')
                  $('#id_dosage').empty();

                }

            }
        });
    });



    function isItemInArray(array, item) {
        for (var k = 0; k < array.length; k++) {
            if (array[k][0] == item) {
                return k;
            }
        }
        return -1;
    }



    function check_gen(gen, dos, current_list) {
        for (var i = 0; i < gen.length; i++) {
            let index = isItemInArray(current_list, gen[i].trim());
            if (index !== -1) {
                dos_new = current_list[index][1] + '+' + dos[i];
                    current_list[index][1] = dos_new
            }
            else {
                current_list.push([gen[i].trim(), dos[i]]);
            }
      }
    }




</script>